body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

  margin: 0;
  padding: 0;

  color: #000;
}

.main-header {
  background-color: rgb(238, 238, 238);
  padding-top: 50px;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.slider {
  margin-bottom: 80px;
  background-color: rgb(238, 238, 238);
}

.slider-wrapper {
  position: relative;
  width: 1160px;
  margin: 0 auto;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 77px 0 80px 0;
}

.slider-item:nth-child(1) {
  background: url("../img/slide1.png") no-repeat 93% 18px;
}

.slider-item:nth-child(2) {
  background: url("../img/slide2.png") no-repeat 100% 0;
}

.slider-item:nth-child(3) {
  background: url("../img/slide3.png") no-repeat 100% 20px;
}

#product-1:checked~.slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked~.slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked~.slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked~.slider-controls .slider-controls-item--1::before,
#product-2:checked~.slider-controls .slider-controls-item--2::before,
#product-3:checked~.slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 26px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
  line-height: 25px;
}

.slider-item-button {
  display: block;
  width: 240px;
  padding: 16px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;

}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-controls .active::before {}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 2;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
}

.main-header-logo[href]:hover,
.main-header-logo[href]:focus {
  opacity: .8;
}

.main-header-logo[href]:active {
  opacity: .3;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header-logo img {
  display: block;
}

.site-navigation,
.user-navigation {
  display: flex;

  margin: 0;
  padding: 0;
  padding-top: 25px;
  list-style: none;
  justify-content: space-between;
}

.site-navigation a,
.user-navigation a {
  display: inline-block;

  vertical-align: middle;

  text-transform: uppercase;

  color: #000;

}

.site-navigation li {
  margin-right: 46px;
}

.user-navigation a {
  padding-left: 40px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0, 0, 0, .3);
}

.current {
  border-bottom: 2px solid #fb565a;
}

.basket-link {
  position: relative;
}

.basket-link::before {
  position: absolute;
  content: "";
  top: 7px;
  left: 0px;
  width: 15px;
  height: 15px;
  background-image: url('../img/cart-icon.svg');
}

.product-item {
  width: 300px;
  margin-right: 100px;
}

.product-item:nth-child(3) {
  margin-right: 60px;
}

.catalog-text {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  margin: 0;
  margin-bottom: 131px;
  padding-top: 77px;
  padding-bottom: 110px;

  text-align: center;

  background-color: rgb(238, 238, 238);
}

.catalog-columns {
  display: flex;

  justify-content: space-between;
}

.catalog-item {
  padding-top: 40px;
  width: 360px;
  position: relative;
  margin-bottom: 33px;
}

.catalog-item::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 40px;
  left: 0px;
  top: 0px;
  background-image: url("../img/browser.svg");
  opacity: 0.15;
}

.catalog-item:hover .item-hover {
  display: block;
}

.catalog-item:hover::before {
  opacity: 1;
}

.item-hover {
  display: none;
  position: absolute;
  min-height: 231px;
  bottom: 0;
  left: 0;
  padding: 1px;
  background-color: #eeeeee;
  text-align: center;
  width: 100%;
}

.item-hover .item-name {
  display: block;
  margin-top: 26px;
}

.item-describing {
  padding: 0 78px;
  margin-top: 14px;
  color: #666;
}

.catalog-item:nth-child(2) .item-describing {
  padding: 0 66px;
}

.catalog-item:nth-child(3) .item-describing {
  padding: 0 81px;
}

.catalog-item:nth-child(5) .item-describing {
  padding: 0px 68px;
}

.catalog-item:nth-child(6) .item-describing {
  padding: 0px 68px;
}

.buy-btn {
  display: inline-block;
  color: #fff;
  background-color: #fb565a;
  padding: 16px 60px;
  border-radius: 3px;
  margin-top: 10px
}

.item-image {
  margin: 0;
}

.appeal-text,
.filter-label,
.item-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;

  margin: 0;

  color: #000;
}

.filter-label {
  margin-bottom: 13px;
}

.features {
  margin-bottom: 80px;
}
.grid-list,
.features-list {
  line-height: 20px;

  margin: 0;
  padding: 0;

  list-style: none;
  
  color: #283136;
}

.features-list li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 10px;
}

.features-list li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 10px;
  left: 0;
  background-image: url("../img/list-marker.png")
}

.grid-filter {
  margin-bottom: 39px;
}

.features-filter {
  margin-bottom: 44px;
}

.grid-list label {
  display: block;
  position: relative;
  padding-left: 36px;
  padding-bottom: 6px;
  padding-top: 3px;
}

.grid-option {
  margin-bottom: 11px;
}

.grid-list label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 1px;
  top: 0px;
  background-image: url("../img/radio-off.svg");
  opacity: 0.4;
}

.grid-list input:checked+label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 1px;
  top: 0px;
  background-image: url("../img/radio-on.svg");
  opacity: 0.4;
}

.features-list label {
  display: block;
  position: relative;
  padding-left: 36px;
  padding-bottom: 6px;
  padding-top: 3px;
}

.features-option {
  margin-bottom: 11px;
}

.features-list label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: 0px;
  top: 0px;
  background-image: url("../img/checkbox-off.svg");
  opacity: 0.4;
}

.features-list input:checked+label::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  left: 0px;
  top: 0px;
  background-image: url("../img/checkbox-on.svg");
  opacity: 0.4;
}

.grid-list label:hover::before,
.features-list label:hover::before,
.grid-list input:checked+label:hover::before,
.features-list input:checked+label:hover::before {
  opacity: 1;
}

.grid-list input:disabled+label::before,
.grid-list input:disabled+label,
.features-list input:disabled+label::before,
.features-list input:disabled+label {
  opacity: 0.3;
}

.filters {
  width: 260px;
}

.filter-btn {
  padding: 16px 88px;
  color: #000;
  background-color: #eee;
}

.filter-btn:focus,
.filter-btn:hover {
  background-color: #dfdfdf;
}

.filter-btn:active {
  color: rgba(0, 0, 0, .3);
  background-color: #d5d5d5;
}

.catalog-list {
  display: flex;

  width: 760px;
  margin: 0;
  padding: 0;

  list-style: none;

  flex-wrap: wrap;
  justify-content: space-between;
}

.products-list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;

  justify-content: flex-start;
}

.product-item h3 {
  margin: 0;
  margin-top: 24px;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

.product-item p {
  margin: 0;
  margin-top: 15px;
  padding-right: 20px;
}

.product-item p,
.about-text {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.button {
  font: inherit;
  font-weight: 500;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.button:active {
  box-shadow: inset 0 3px rgba(0, 0, 0, .1);
}

.order-btn-site {
  background-color: #fb565a;
}

.order-btn-site:hover,
.order-btn-site:focus,
.buy-btn:hover,
.buy-btn:focus,
.slider-item-button:hover,
.slider-item-button:focus {
  background-color: #e74246;
}

.buy-btn:active {
  background-color: #d7373b;

}

.order-btn-site:active,
.slider-item-button:active {
  color: rgba(255, 255, 255, .3);
  background-color: #d7373b;
}

[class*='order-btn'] {
  color: #fff;
  display: inline-block;
  padding: 16px 40px;
  vertical-align: middle;
  margin-top: 34px;
}

.order-btn-app {
  background-color: #00ca74;
}

.order-btn-app:hover,
.order-btn-app:focus {
  background-color: #00bc6c;
}

.order-btn-app:active {
  color: rgba(255, 255, 255, .3);
  background-color: #00aa62;
}

.order-btn-presentation {
  background-color: #efc84a;
}

.order-btn-presentation:hover,
.order-btn-presentation:focus {
  background-color: #eab534;
}

.order-btn-presentation:active {
  color: rgba(255, 255, 255, .3);
  background-color: #e5a722;
}

.social-list {
  margin: 0;
  margin-right: 130px;
  padding: 0;
  display: flex;
  list-style: none;
}

.social-list li {
  margin-right: 11px;
}

.social-button {
  display: inline-block;
  vertical-align: middle;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: #e1e1e1;
  display: flex;
}

.social-button svg {
  margin: auto auto;
}

.social-button:hover {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px rgba(0, 0, 0, .1);
}

.social-button:active .social-image {
  opacity: 0.3;
}

.appeal-text {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin-top: 8px;
  margin-bottom: 11px;
}

.sale-text {
  line-height: 22px;
  margin: 0;
  color: #444;
}

.footer-wrapper {
  display: flex;
  padding-top: 70px;
  margin-bottom: 70px;
}

.modal-request {
  box-sizing: border-box;
  display: none;
  position: fixed;
  background-color: rgba(255, 255, 255);
  left: 50%;
  top: 100px;
  width: 960px;
  min-height: 590px;
  margin-left: -480px;
  padding: 67px 100px;
  /* z-index: 1; */
  color: #323232;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.75);
}

.modal-request .label-form {
  margin-bottom: 10px;
}

.request-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.request-form-label {
  margin-bottom: 10px;
}

.modal-request p {
  margin: 0;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}

[class*="about-text"] {
  margin: 0;
  margin-bottom: 47px;
}

.modal-request h2,
.about-text-big {
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about-text-big {
  margin-bottom: 35px;
}
.about-text-medium {
  font-weight: 700;
  text-transform: uppercase;
}

.about-text-number {
  font-size: 45px;
  font-weight: 700;
}

.about-text .percent {
  font-size: 16px;
}

.about {
  display: flex;
  padding-top: 80px;
  border-top: 2px solid #eeeeee;
}

.text-blocks {
  display: flex;
}

.modal-request h2 {
  margin-bottom: 40px;
}

.request-form-btn {
  display: inline-block;
  color: #fff;
  background-color: #fb565a;
  padding: 16px 84px;
  border-radius: 3px;
  margin-bottom: 16px;
}

[class*="input-user"] {
  box-sizing: border-box;
  border: 2px solid #d7dcde;
  border-radius: 2px;
  padding: 10px 13px;
  width: 360px;
  height: 50px;
  margin-bottom: 33px;
}

.request-form .input-user-text {
  width: 760px;
  height: 117px;
  margin-bottom: 48px;
}

.modal-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  font-size: 0;
  background: url("../img/close-cross.svg");
  border: 0;
  cursor: pointer;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}
